<h1>Admin Dashboard</h1>

<div class="panel panel-default">
  <div class="panel-heading">Stats</div>
  <div class="panel-body">
    <p><strong>Product Count:</strong> <%= @product_count %></p>
    <p><strong>Category Count:</strong> <%= @category_count %></p>
  </div>
</div>