<h1>Admin Dashboard</h1>

<div class="panel panel-default">
  <div class="panel-heading">General Statistics</div>
  <div class="panel-body">
    <p>
      <strong>Product Count:</strong> 
      <%= link_to @product_count, admin_products_path %>
    </p>
    <p>
      <strong>Category Count:</strong> 
      <%= link_to @category_count, admin_root_path %>
    </p>
  </div>
</div>